.button-window {
  margin-left: .625rem;
  background-color: aqua;
}

.button {
  width: 6.25rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  color: white;
  font-size: .9375rem;
  margin-left: 1.25rem;
}
