@import "../styles/Button.scss";

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 32.5rem;
    height: 15.625rem;
    background-color: red;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    position: relative;
    color: white;

    h2 {
      margin-top: 0;
    }

    .modal-text {
      text-align: center;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: #d44637;
  height: 70px;
  cursor: pointer;
}

.text-title {
  padding-left: 1.875rem;
}

.close-button {
  font-size: 3.125rem;
  padding-right: 1.875rem;
}

.content-modal {
  padding: 1.25rem;
}

.text-content {
  line-height: 1.875rem;
  text-align: center;

}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

